.botao {
    color: white;
    background-image: linear-gradient(to right, #A7D1E7, #566BF3);
    padding: 6px;
    border-radius: 8px;
    margin-right: 0;
    border-width: 0;
}

.botao:hover {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(to right, #9bc3d8, #485acc);
}

.botao_azul {
    color: white;
    background-color: #007BFF;
    padding: 6px;
    border-radius: 8px;
    margin-right: 0;
    border-width: 0;
}

.botao_azul:hover {
    color: white;
    text-decoration: none;
    background-color: #036ee0;
}

.botao_vermelho {
    color: white;
    background-color: #DC3545;
    padding: 6px;
    border-radius: 8px;
    margin-right: 0;
    border-width: 0;
    padding-top: 9px;
    padding-bottom: 9px;
}

.botao_vermelho:hover {
    color: white;
    text-decoration: none;
    background-color: #be2d3c;
}

/* TELA DE CADASTRO */

.logo {
    width: 40%;
    float: right;
    margin-right: 5%;
    color: white;
    margin-top: 15%;
}

.cadastro_campos {
    width: 40%;
    margin-right: 55%;
    margin-left: auto;
    margin-top: 4%;
}

.logoimg {
    width: 100%;
    margin-bottom: 2%;
}

.tela_cadastro {
    width: 90%;
    height: 600px;
    margin: auto;
    margin-top: 1.5%;
    background: linear-gradient(
        to right,
        white 0%,
        white 50%,
        #6F9BD6 50%,
        #0000B2 100%
      );
    border-color: #0000B2;
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
}

/* TELA DE LOGIN */

.tela_login {
    width: 90%;
    height: 300px;
    margin: auto;
    margin-top: 1.5%;
    background: linear-gradient(
        to right,
        white 0%,
        white 50%,
        #6F9BD6 50%,
        #0000B2 100%
      );
    border-color: #0000B2;
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
}

.logo_login {
    width: 40%;
    float: right;
    margin-right: 5%;
    color: white;
    margin-top: 5%;
}

/* NAVBAR */

.topnav {
    background-image: linear-gradient(to right, #add8e6, #0000ff);
    padding-top: 6px;
    border: 2px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #6F9BD6, #0000B2);
    border-style: solid;
}

.navbtn {
    padding: 10px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px;
}

.navbtn:hover {
    background-color: lightblue;
    text-decoration: none;
}

.navlogo {
    width: 40px;
    margin: 10px;
    margin-right: 10px;
}

.logoff {
    font-size: 14px;
    float: right;
    margin-top: 10px;
}

/* COLEÇÃO */

.titulo {
    margin-left: 50px;
    margin-right: 67%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom-style: solid;
    border-width: 2px;
    padding-right: 50px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #A7D1E7, #566BF3);
}

.colbtn {
    position: absolute;
    margin-top: -60px;
    left: auto;
    right: 50px;
}

.tabela_cubos {
    margin: auto;
    margin-top: 60px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.titulo_tabela_cubos {
    font-size: 20px;
    width: 250px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #A7D1E7;
}

.titulo_tabela_cubos_tipo {
    font-size: 20px;
    width: 180px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #A7D1E7;
}

.titulo_tabela_cubos_marca {
    font-size: 20px;
    width: 150px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #A7D1E7;
}

.titulo_tabela_cubos_modelo {
    font-size: 20px;
    width: 300px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #A7D1E7;
}

.titulo_tabela_cubos_data {
    font-size: 20px;
    width: 150px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #A7D1E7;
}

.titulo_tabela_cubos_botoes {
    font-size: 20px;
    width: 140px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #A7D1E7;
}


.linha_tabela_cubos {
    width: 150px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #A7D1E7;
}

.img_linha_cubo {
    width: 50px;
}

.esp {
    margin-top: 14px;
    margin-left: 8px;
    height: 34px;
    padding-top: 9px;
}

.esp2 {
    display: flex;
}

.esp3 {
    height: 34px;
}

.pesquisar {
    margin: auto;
    margin-top: 60px;
    display: flex;
    width: 800px;
    height: 37px;
}

.pesq_titulo {
    font-size: 20px;
    margin-right: 20px;
}

.pesq_campo {
    width: 300px;
    margin-right: 20px;
}

.pesq_btn {
    margin-left: 20px;
    height: 37px;
    padding-left: 10px;
    padding-right: 10px;
}

/* CADASTRAR CUBO */

.titulo1 {
    margin-left: 50px;
    margin-right: 800px;
    margin-top: 20px;
    border-bottom-style: solid;
    border-width: 2px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #A7D1E7, #566BF3);
    margin-bottom: 20px;
}

.fundo_cadastro {
    background-image: linear-gradient(to right, #add8e6, #0000ff);
    position: absolute;
    margin-left: 55%;
    padding: 10px;
    border-radius: 40px;
}

.logocad {
    width: 20%;
    padding-left: 10px;
}

#cadastrobarra {
    overflow-x: hidden;
}

#cadastrobarray {
    overflow-y: hidden;
}

.cancelarbtn {
    margin-left: 30px;
}

/* CRONOMETRO */

#tempo {
    text-align: center;
    margin-top: 50px;
    font-size: 120px;
}

.tabela_tempos {
    width: 280px;
    height: 328px;
    overflow-y: scroll;
    border-style: solid;
    border-width: 3px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #6F9BD6, #0000B2);
    padding: 0px;
    position: absolute;
    margin-left: 50px;
    bottom: 10%;
    overflow-x: hidden;
}

.tabela_dados {
    width: 280px;
    height: 328px;
    border-style: solid;
    border-width: 3px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #6F9BD6, #0000B2);
    padding: 0px;
    position: absolute;
    right: 50px;
    left: auto;
    bottom: 10%;
}

.tabela_titulo {
    color: white;
    background-image: linear-gradient(to right, #A7D1E7, #566BF3);
    padding: 10px;
    border-bottom-style: solid;
    border-width: 2px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #6F9BD6, #0000B2);
    overflow-anchor: 43px;
}

.espaco_comecar {
    text-align: center;
    bottom: 20px;
    top: auto;
}

.embaralhamento {
    font-size: 20px;
    text-align: center;
    margin-top: 3%;
}

.embar_botao {
    right: 91px;
    left: auto;
    bottom: 425px;
    position: absolute;
    margin-left: 553px;
}

.escolher_cubo {
    margin: auto;
    width: 280px;
    border-style: solid;
    border-width: 3px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #6F9BD6, #0000B2);
}

.titulo_tipo_cubo {
    margin-top: 10px;
    width: 130px;
    padding: 8px;
    padding-left: 18px;
    color: white;
    background-image: linear-gradient(to right, #A7D1E7, #566BF3);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.select_tipo_cubo {
    padding: 10px;
    padding-bottom: 16px;
    background-color: #F2F2F2;
}

.tabela_tipo_cubo {
    background-color: #F2F2F2;
}

.imagem_tipo_cubo {
    width: 80px;
    padding: 0px;
    padding-bottom: 10px;
}

.imagem_tipo_cubo1 {
    margin-left: 30px;
}

.atualiza_btn {
    text-align: center;
    margin-left: 30px;
    padding: 10px;
}

.deletar_btn {
    padding-bottom: 1px;
    margin-top: -3px;
    margin-bottom: -16px;
    margin-left: 126px;
    background-color: #A7D1E7;
    border-style: solid;
    border-width: 0px;
    border-radius: 3px;
    font-size: 20px;
    color: white;
}

/* PERFIL */

.header_perfil {
    position: absolute;
    width: 470px;
    left: 5%;
    top: 150px;
}

.imagem_perfil {
    width: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: #A7D1E7;
}

.capa_perfil {
    padding: 100px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #A7D1E7;
    background-color: #e7e7e7;
    background-image: url("imagens/capa_default.png");
    background-size: 170px;
    background-repeat: repeat;
}

.btn_editar {
    float: right;
    margin: 20px;
}

.nome_usuario {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5%;
}

.nome_completo {
    display: flex;
    width: 900px;
    margin-top: 100px;
    margin-left: 5%;
}

.idade_perfil {
    margin-top: 12px;
    margin-left: 30px;
    font-size: 20px;
}

.descricao {
    width: 500px;
    margin-left: 5%;
}

.cubo_favorito {
    margin-left: 50px;
    width: 560px;
    height: 160px;
    border-style: solid;
    border-width: 3px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #6F9BD6, #A7D1E7);
}

.img_cubo_fav {
    margin-left: 15px;
    margin-top: 22px;
    width: 110px;
}

.nome_cubo_fav {
    float: right;
    margin-right: 320px;
    margin-top: 50px;
}

.dados_cubo_fav {
    float: right;
    margin-top: -117px;
    margin-right: 20px;
}

.img_tempos_cubo {
    width: 70px;
}

.nome_tempos_cubo {
    margin-top: 22px;
    margin-left: 6px;
}

.tempo_cubo {
    display: flex;
    margin-left: 50px;
    margin-bottom: 20px;
    width: 200px;
}

.tempos_p_cubo {
    display: flex;
}

.info_perfil {
    margin-left: 50px;
    font-size: 20px;
}

.quantidade_tempos_perfil {
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 30px;
}

/* EDITAR PERFIL */

.editar_perfil_form {
    margin-left: 50px;
}

.titulo2 {
    margin-left: 65px;
    margin-right: 800px;
    margin-top: 5px;
    border-bottom-style: solid;
    border-width: 2px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #A7D1E7, #566BF3);
    margin-bottom: 20px;
}

.editar_imagem_form {
    margin-left: 65px;
}

.imagem_editar {
    margin-left: -15px;
    width: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: #A7D1E7;
}

input[type="file"] {
    display: none;
}

.btn_imagem {
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 15px;
}

/* TABELA DE TEMPOS */

.cont_tempos {
    width: 500px;
    height: auto;
    padding: 20px;
    padding-right: 0;
    border-style: solid;
    border-width: 3px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #6F9BD6, #0000B2);
}

.img_cubo{
    width: 100px;
    padding: 0px;
    margin-top: 2px;
    float: left;
}

.dados_cubo {
    margin-top: 2px;
    padding-left: 120px;
    margin-right: 50px;
}

.btn_tempos {
    text-align: right;
    float: right;
    padding: 0;
    padding-right: 25px;
    width: 100px;
    color: white;
    background-image: linear-gradient(to right, #A7D1E7, #566BF3);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-right: 0;
    border-width: 0;
}

.btn_tempos:hover {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(to right, #9bc3d8, #485acc);
}

.cont_2x2 {
    margin-top: 5%;
    margin-left: 10%;
    float: left;
}

.cont_3x3 {
    margin-top: 5%;
    margin-right: 10%;
    float: right;
}

.cont_4x4 {
    margin-top: 5%;
    margin-left: 10%;
    float: left;
}

.cont_5x5 {
    margin-top: 5%;
    margin-right: 10%;
    float: right;
}

.cont_6x6 {
    margin-top: 5%;
    margin-left: 10%;
    float: left;
}

.cont_7x7 {
    margin-top: 5%;
    margin-right: 10%;
    float: right;
}

.cont_pira {
    margin-top: 5%;
    margin-left: 10%;
    float: left;
}

.cont_mega {
    margin-top: 5%;
    margin-right: 10%;
    float: right;
}

.cont_skewb {
    margin-top: 5%;
    margin-left: 10%;
    float: left;
}

.cont_square1 {
    margin-top: 5%;
    margin-right: 10%;
    float: right;
}

.div_clock {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.cont_clock {
    margin-top: 5%;
}

/* TELA DE DETALHES */

.img_detalhes {
    width: 200px;
    margin: 20px;
    float: left;
    margin-top: 24px;
}

.titulo_detalhes {
    margin-top: 34px;
    margin-left: 50px;
    padding-bottom: 15px;
}

.titulo_pagina{
    margin: 40px;
    margin-top: 40px;
    border-style: solid;
    border-width: 3px;
    border-image-slice: 3;
    border-image-source: linear-gradient(to left, #A7D1E7, #566BF3);
    margin-right: 40px;
    width: auto;
}

.btn_voltar {
    margin-top: 10px;
    font-size: 22px;
    text-align: left;
    float: left;
    padding: 10px;
    padding-left: 25px;
    width: 120px;
    color: white;
    background-image: linear-gradient(to right, #A7D1E7, #566BF3);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-right: 0;
    border-width: 0;
}

.btn_voltar:hover {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(to right, #9bc3d8, #485acc);
}

.detalhes_2 {
    margin-top: -95px;
    margin-left: 625px;
    position: absolute;
}

.coisas_detalhes {
    margin-left: 50px;
}

.quantidade_tempos {
    margin: 40px;
}

.titulo_caixas {
    margin-top: 34px;
    margin-left: 15px;
    padding-bottom: 2px;
}

.caixas_detalhe {
    margin-left: 40px;
    margin-right: 40px;
    width: auto;
}

.caixa_pagina {
    margin: 40px;
    width: 430px;
    margin-top: 40px;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #A7D1E7;
    padding-left: 20px;
    padding-right: 20px;
}

.caixa_pagina_tempo {
    margin: 40px;
    width: 700px;
    margin-top: 40px;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #A7D1E7;
    padding-left: 20px;
    padding-right: 20px;
}

.deletar_detalhes_btn {
    float: right;
    margin-top: 40px;
    padding-bottom: 1px;
    background-color: #A7D1E7;
    border-style: solid;
    border-width: 0px;
    border-radius: 3px;
    font-size: 12px;
    color: white;
}

.deletar_detalhes_btn_tempos {
    float: right;
    margin-top: 40px;
    margin-right: 300px;
    padding-bottom: 1px;
    background-color: #A7D1E7;
    border-style: solid;
    border-width: 0px;
    border-radius: 3px;
    font-size: 12px;
    color: white;
}

/* PAGINA DE TUTORIAIS */

.titulo_tutorial {
    text-align: center;
    margin-top: 40px;
}

.sub_tutorial {
    margin-top: 40px;
}

.tutoriais {
    display: flex;
    width: 820px;
    margin: auto;
}

.tutoriais_centro {
    display: flex;
    width: 880px;
    margin: auto;
    text-align: center;
}

.imagem_tutorial {
    width: 150px;
    margin: 10px;
}

.img_tut_1 {
    display: flex;
}

.imagem_tutorial_1 {
    width: 400px;
    margin: auto;
}

.caixa_tutorial {
    width: 170px;
    height: 240px;
    background-color: #A7D1E7;
    text-align: center;
    border-radius: 10px;
    margin: 50px;
    position: relative;
    top: 0;
    transition: top ease 0.2s;
}

.caixa_tutorial:hover {
    background-color: #85a7b9;
    top: -10px;
}

.tut_null {
    height: 260px;
    background-color: white;
}

.tut_null:hover {
    background-color: white;
    top: 0px;
}

.titulo_null {
    font-size: 25px;
}

.nome_null {
    font-size: 15px;
    text-align: justify;
    text-indent: 30px;
}

.titulo_videos {
    margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.videos_tut {
    margin-left: 100px;
}

.tut_basico {
    height: 260px;
    background-color: #A7D1E7;
}

.tut_basico:hover {
    background-color: #85a7b9;
}

.tut_camadas {
    height: 260px;
    background-color: #A7D1E7;
}

.tut_camadas:hover {
    background-color: #85a7b9;
}

.tut_cfop {
    height: 260px;
    background-color: #A7D1E7;
}

.tut_cfop:hover {
    background-color: #85a7b9;
}

.nome_tutorial {
    font-size: 30px;
    color: white;
}

.nome_tutorial:hover {
    color: white;
}

.nome_tutorial_detalhes {
    font-size: 25px;
    color: white;
}

.nome_tutorial_detalhes:hover {
    color: white;
}


.titulo_conteudo_tutorial {
    margin-top: 100px;
    margin-left: 50px;
}

.conteudo_tutorial {
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    text-indent: 40px;
}